@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(45, 45, 45);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
  display: grid;
  min-height: 100vh;
}

.sidebarContainer {
  background-color: rgb(59, 51, 72);
  color: rgb(192, 192, 192);
  width: 16rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

main {
  margin-left: 16rem; 
  padding: 1rem;       
  min-height: 100vh;   
  box-sizing: border-box;
}

.createBox {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: white;
  color: black;
  width: 30vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.createTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.input {
  padding: 0.75rem;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  color: black;
  font-size: 1rem;
  transition: all 0.3s ease;
  width: 100%;
  border: 1px solid black;
}


.input:focus {
  outline: none;
  border-color: rgb(90, 74, 108);
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.createButton {
  background-color: rgb(70, 54, 88);
  border-radius: 8px;
  border: none;
  padding: 1rem;
  color: white;
  font-weight: bold;
  text-decoration: none; 
  text-align: center; 
  transition: all 0.3s ease; 
  margin-top: 1rem;
}

.createButton:hover {
  background: linear-gradient(to right, rgb(70, 54, 88), rgb(159, 110, 215));
  transform: translateY(-3px);
}

.cancelButton {
  background-color: red;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.cancelButton:hover {
  background-color: darkred;
  transform: translateY(-3px);
}

.customTable-wrapper {
  overflow-x: auto;
  border-radius: 8px;
  margin-top: 1rem;
}

.customTable {
  border-collapse: collapse; 
  background-color: #fff;
  width: auto;
  margin: 0 auto;      
  min-width: 300px;  
  max-width: 600px;   
  border-radius: 8px;  
}

.customTable thead {
  background-color: #f3f4f6; 
}

.customTable thead th {
  padding: 12px;
  border-radius: 8px;
  text-align: left;
  font-size: 0.75rem;        
  font-weight: 600;         
  text-transform: uppercase; 
  color: #374151;           
  letter-spacing: 0.05em;  
}

.customTable tbody td {
  padding: 12px;
  border-top: 1px solid #e5e7eb; 
  font-size: 0.875rem;
  color: #4b5563;
}

.customTable tbody tr:nth-child(even) {
  background-color: #f9fafb;
}

.customTable tbody tr:hover {
  background-color: #f3f4f6;
  transition: background-color 0.2s ease-in-out;
}

.acceptButton {
  background-color: green;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.3rem;
}

.rejectButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.3rem;
}