body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-rows: 1fr;
  margin: 0;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  background-color: rgb(45, 45, 45);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
  width: 90%;
  color: #fff; 
}

.tabs-container {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.tab {
  text-align: center;
  padding: 0.75rem 2rem;
  cursor: pointer;
  background-color: rgb(59, 51, 72);
  border: 1px solid transparent;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  color: #cccccc;
}

.tab:hover {
  background: linear-gradient(to right, rgb(70, 54, 88), rgb(159, 110, 215));
  color: #fff;
}

.tab-active {
  background-color: rgb(90, 74, 108);
  color: #fff;
  border: none;
}

.inputBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border-radius: 8px;
  padding-bottom: 10px;

}

.input {
  color: white;
}

.loginB {
  background-color: rgb(59, 51, 72);
  border: none;
  border-radius: 12px;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 90%;
}

.loginB:hover {
  background: linear-gradient(to right, rgb(70, 54, 88), rgb(159, 110, 215));
  transform: translateY(-3px);
}

.loginB:active {
  transform: translateY(0);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.createButton {
  background-color: rgb(70, 54, 88);
  border-radius: 8px;
  border: none;
  padding: 1rem;
  color: white;
  font-weight: bold;
  text-decoration: none; 
  text-align: center; 
  transition: all 0.3s ease; 
  margin-top: 1rem;
}